<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762957034592-f6fmg24nk7skbn550kf24mo1o8ckhv5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762957034592-f6fmg24nk7skbn550kf24mo1o8ckhv5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>762957034592-1v8m1vg0519pcee2dvpl1d0c4trainnq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzJOb2aev5lTCh2UZt_EgmDD70zuOY0Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>762957034592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myoga.myogauser</string>
	<key>PROJECT_ID</key>
	<string>myoga-80daa</string>
	<key>STORAGE_BUCKET</key>
	<string>myoga-80daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762957034592:ios:1b4fe4ee3b026424b23f05</string>
	<key>DATABASE_URL</key>
	<string>https://myoga-80daa-default-rtdb.firebaseio.com</string>
</dict>
</plist>